.add-one form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-one form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}
.bike{
    background-color: rgb(51, 148, 148);
    border-radius:20px ;
}
.bike img{
    width: 30%;
}